@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p>
    01/09/2021
    <br />
    Some changes
</p>

<p>
    01/09/2021
    <br />
    Updating Docker Image
</p>

<p>
    01/09/2021
    <br />
    trying Refresh
</p>
<p>
    01/09/2021
    <br />
    Deployed to ACI, trying to understand how to refresh 
</p>