
@{
    ViewData["Title"] = "Secret";
}

<h2>Secret</h2>

<h3>@ViewData["Message"]</h3>

<table class="table-hover claim-table">
    <tr>
        <th class="claim-type claim-data claim-head">Key</th>
        <th class="claim-data claim-head">Value</th>
    </tr>

    @foreach (var item in ViewBag.list)
    {
        <tr>
            <td class="claim-type claim-data">@item.Key</td>
            <td class="claim-data">@item.Value</td>
        </tr>
    }
</table>
